{% extends "layout.html" %}
{% block content %}
<h2 class="auth-title">Авторизация</h2>
<form method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Имя пользователя</label>
        <input type="text" class="form-control" name="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" name="password" required>
    </div>
    <button type="submit" class="btn btn-warning">Войти</button>
    <h2></h2>
</form>
{% endblock %}
