{% extends "layout.html" %}
{% block content %}
<h2>Формула-1</h2>
<h5>Чемпионат мира по автогонкам</h5>
<p>При первом просмотре «Формулы-1» могут возникнуть базовые вопросы относительно этого вида спорта.
    Например, в чем вообще смысл соревнований и как определяется победитель.</p>

<p>Главный смысл — преодолеть дистанцию. На каждой трассе регламентом установлено,
    сколько кругов нужно проехать пилотам, чтобы добраться до финиша.</p>

<p>Главная цель — финишировать. Конечно, каждый пилот мечтает о первом месте,
    но на деле не все гонщики, выходящие на старт, борются за победу: все зависит от возможностей и задач команды.</p>

<p>В гонке участвует 20 болидов, 10 команд по два пилота в каждой.
    На старт конкретной гонки может выйти и меньшее количество пилотов: например, из-за аварий, поломок машины или дисквалификации.</p>

<p>Гонка продолжается около двух часов. Но точно не может длиться более трех часов, таковы правила.</p>

<p>Чемпион мира определяется по сумме всех гонок. Первые десять финишировавших получают очки по системе 25—18—15—12—10—8—6—4—2—1.
    Очки суммируются после каждой гонки, от них часто зависит тактика команд и пилотов на очередной этап.
    При этом победа в одной гонке может как ничего не решать с точки зрения итоговой борьбы,
    и перевернуть все с ног на голову. Поэтому интереснее смотреть не отдельные гонки, а сезон целиком.
</p>
{% endblock %}
